img{
    width: 100%;
}
.btn_primary_black{
    background-color: #212529;
    border-color: #212529;
}
.btn_primary_black:hover{
    background-color:#3d3f42 !important;
    border-color: #3d3f42 !important;;
}

.op_7{
    opacity: 70%;
}

/* spacing colors border-radius classes */
.rounded_7{
    border-radius: .7rem !important;
}
.w_45{
    width: 45% !important;
}
.w_80{
    width: 80% !important;
}
.my_4_5{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.mb_4_5{
    margin-bottom: 2rem !important;
}
.mb_6{
    margin-bottom: 5.5rem !important;
}
.lh_09{
    line-height: 0.9 !important;
}
.light_blue{
    color: #0876cf !important;
}
.border_b_2{
    border-bottom: 2px solid #0876cf;
}
.fw_6{
    font-weight: 600;
}

/* header */
header{
    background-color: lightblue;
}
header .top{
    background-color: black;
    height: 30px;
    position: relative;
}
#logo_sony{
    height: 50%;
    width: auto;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
header .bottom{
    background-color: #ffffff;
}

header .arrow{
    height: 1rem;
    width: auto;
}
header .ps5{
    width: auto;
}
header .ps5 img{
    width: 85%;
}

header .navbar-light .navbar-nav .nav-link {
    color: black;
}
header .navbar-light .navbar-nav .nav-link:hover {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #0d6efd;
}

.nav-item .show .arrow{
    transform: rotate(180deg);
}
header #cerca{
    height: 30px;
}
header #cerca img{
    height: 100%;
}
header .sub_link::before{
    content: " ";
    padding: 3px;
    border-radius: 50%;
    background-color: #0d6efd;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* main */
main{
    margin-top: 85px;
}
/* jumbo */
.jumbo_top{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 670px;
    background-size: cover;
}
.testo_jumbo{
    margin-bottom: 20px;
}
/* jumbo bottom */
.box_jumbo{
    padding: 2px;
    transition: transform 500ms;
    
}
.thumbnail{
    width: 100%;
}

.box_jumbo:hover{
    transform: translateY(-10%);

}
/* takes two jumbo */
.takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position-x: center;
    background-size: cover;
}


/* button acquista ora */
.acquista_ora{
    background-color: #cd3d0f;
}

.acquista_ora:hover{
    background-color: #e95827;

}

/* */

.box_selected{
    border: 2px solid #00439c;
}
.box_console{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%; /*per dargli la stessa height dell'immagine a fianco*/
}


/* playstation plus */
.playstation_plus{
    background-color: #bebcbb;
}
.ps_plus_btn{
    background-color: #d9dadc;
    color: #2d64e6 !important;

}
.ps_plus_btn:hover{
    background-color: #acadaf;
}

/* playstation now */
.ps_now_btn{
    background-color: #d9dadc;
    color: black !important;
}
.ps_now_btn:hover{
    background-color: #111f66;
    color:#d9dadc !important;
}
.playstation_now{
    background-color: #161c3b;
}

/* nuove uscite */
.nuove_uscite .box_img:hover{
    
    box-shadow: 10px 5px 10px rgb(70, 69, 69), -10px -5px 10px rgb(70, 69, 69),10px -5px 10px rgb(70, 69, 69), -10px 5px 10px rgb(70, 69, 69);
    transition: box-shadow 0.5s;
}

/* footer */
footer{
    background-color: #00439c;
}
footer ul{
    list-style: none;
}
footer ul li{
    transition: color 1s;
}
footer ul li:hover{
    color: #212529 !important;
}
footer #info{
    text-decoration: underline;
    cursor: pointer;
}
#ps_logo_footer{
    max-width: 130px;
}

#sie_logo{
    width: 25%;
    max-width: 140px;
}


/*      menu nav bar        */
.navbar .megamenu{ padding: 1rem; }

/*  desktop view  */
@media screen and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:-1px;  }

}	
/*  desktop view fine */

/*  mobile view  */
@media screen and (max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
    max-height: 90vh;
    margin-top:10px;
  }
}
/*  mobile view  */

