.rounded_7{
    border-radius: .7rem !important;
}
.w_45{
    width: 45% !important;
}


header{
    /* height: 100%; */
    background-color: lightblue;
}
header .top{
    background-color: black;
    height: 25px;
}
header .bottom{
    background-color: #ffffff;
    height: 75px;
}
main{
    margin-top: 100px;
}
.jumbo_top,
.takes_two{
    min-height: 500px;
}
.jumbo_bottom img,
.nuove_uscite img,
.esplora_ps4 img,
.playstation_plus img,
.sconti_store img,
.playstation_now img,
.social_media img,
footer img{
    width: 100%;
    /* height: 100%; */
}
.testo_jumbo{
    background-color: lightgray;
    margin-bottom: 20px;
}
.thumbnail{
    /* height: 100%; */
    width: 100%;
}

/* */
.box_jumbo{
    /* height: 100px; */
    background-color: lightslategrey;
    border: 1px solid;
}

.box_console{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.playstation_plus{
    background-color: #bebcbb;
}

.playstation_now{
    background-color: #161c3b;
}

footer{
    background-color: #00439c;
}
footer ul{
    list-style: none;
}

#ps_logo_footer{
    max-width: 130px;
}
/*  debug   */
.debug .box_console{
    min-height: 400px;
    background-color: maroon;
}
.debug .box_img_console{
    min-height: 400px;
    background-color: rgb(102, 43, 43);

}



.debug .test{
    height: 100px;
    background-color: lime;
    border: 1px solid;
}
.debug main{
    background-color: lightseagreen;
    border: 2px solid black;
    min-height: 500px;
}
.debug .jumbo_top,
.debug .takes_two{
    background-color: blueviolet;

}

.debug .jumbo_top .container-fluid{
    /* background-color: lightsalmon; */
}