img{
    width: 100%;
}
.op_7{
    opacity: 70%;
}
.rounded_7{
    border-radius: .7rem !important;
}
.w_45{
    width: 45% !important;
}
.w_80{
    width: 80% !important;
}
.my_4_5{
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.mb_4_5{
    margin-bottom: 2rem !important;
}
.mb_6{
    margin-bottom: 5.5rem !important;
}
.lh_09{
    line-height: 0.9 !important;
}
.light_blue{
    color: #0876cf !important;
}
.border_b_2{
    border-bottom: 2px solid #0876cf;
}
.fw_6{
    font-weight: 600;
}
header{
    /* height: 100%; */
    background-color: lightblue;
}
header .top{
    background-color: black;
    height: 30px;
    position: relative;
}
#logo_sony{
    height: 50%;
    width: auto;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
header .bottom{
    background-color: #ffffff;
    /* height: 75px; */
}

/* MOD DISPLAY CLASS nav-link */
header .nav-link{
    /* display: inline-block; */
    /* padding-right: 0 !important; */
}
header .arrow{
    height: 1rem;
    width: auto;
}
.nav-item .show .arrow{
    transform: rotate(180deg);
}

main{
    margin-top: 85px;
}
.takes_two{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position-x: center;
    background-size: cover;
}
/* .jumbo_bottom img,
.nuove_uscite img,
.esplora_ps4 img,
.playstation_plus img,
.sconti_store img,
.playstation_now img,
.social_media img,
footer img{
    width: 100%;
    
} */
.jumbo_top{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 670px;
}
.testo_jumbo{
    /* background-color: lightgray; */
    margin-bottom: 20px;
}
.thumbnail{
    /* height: 100%; */
    width: 100%;
}
.acquista_ora{
    background-color: #cd3d0f;
}
/* */
.box_jumbo{
    /* height: 100px; */
    /* background-color: lightslategrey;
    border: 1px solid; */
    padding: 2px;
}
.box_selected{
    border: 2px solid #00439c;
}
.box_console{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%; /*per dargli la stessa height dell'immagine a fianco*/
}

.playstation_plus{
    background-color: #bebcbb;
}
.ps_plus_btn{
    background-color: #d9dadc;
    color: #2d64e6 !important;
}
.ps_now_btn{
    background-color: #d9dadc;
    color: black !important;
}
.playstation_now{
    background-color: #161c3b;
}

footer{
    background-color: #00439c;
}
footer ul{
    list-style: none;
}
footer #info{
    text-decoration: underline;
    cursor: pointer;
}
#ps_logo_footer{
    max-width: 130px;
}
#sie_logo{
    width: 25%;
    max-width: 140px;
}


/*menu css*/
.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:-1px;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
    max-height: 90vh;
    margin-top:10px;
  }
}



/*  debug   */
.debug .box_console{
    /* min-height: 400px; */
    /* background-color: maroon; */
}
.debug .box_img_console{
    /* min-height: 400px;
    background-color: rgb(102, 43, 43); */

}



.debug .test{
    height: 100px;
    background-color: lime;
    border: 1px solid;
}
.debug main{
    /* background-color: lightseagreen; */
    /* border: 2px solid black; */
    /* min-height: 500px; */
}
.debug .jumbo_top,
.debug .takes_two{
    background-color: blueviolet;

}

.debug .jumbo_top .container-fluid{
    /* background-color: lightsalmon; */
}